__pycache__/
.ipynb_checkpoints/
.venv/
cif/
data/*/cif
data/*/val/
data/*/train/
data/*/test/
data/ref_pattern/ref/
exp_data_analysis/*/train/
exp_data_analysis/*/val/
trained_models/
err_meta.json
errors.npy
*.pdf
